.combat-modal {
    width: 70vw !important;
    min-height: 70vh !important;
    font-size: 1rem !important;
}

.combat-modal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem;
}

.combat-action:hover {
    opacity: 0.95;
}

.combat-action:disabled {
    opacity: 0.8;
    cursor: not-allowed;
    background-color: #a6a4a4;
    background-image: none;
}

.defend-action {
    border: 2px solid #2196f3;
}

.defend-action:hover {
    color: #2196f3;
}

.attack-action {
    border: 2px solid #f44336;
}

.attack-action:hover {
    color: #f44336;
}