.combat-modal {
    width: 70vw;
    min-height: 70vh;
    border: 2px solid #333;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-image: url("../assets/combatBackground.jpg");
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.combat-modal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem;
}

.end-combat-modal {
    width: 30vw;
    min-height: 25vh;
}

.combat-action:hover {
    opacity: 0.95;
}

.combat-action:disabled {
    opacity: 0.8;
    cursor: not-allowed;
    background-color: #a6a4a4;
    background-image: none;
}

.defend-action {
    border: 2px solid #2196f3;
}

.defend-action:hover {
    color: #2196f3;
}

.attack-action {
    border: 2px solid #f44336;
}

.attack-action:hover {
    color: #f44336;
}