.dialogue-modal {
    width: 50vw !important;
}

.dialogue-character-img {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    object-position: center;
}

@keyframes dialogueModalSlideIn {
    0% {
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.dialogue-modal-slide-in {
    animation: dialogueModalSlideIn 0.3s forwards;
}