.dialogue-modal {
    background-image: url("../assets/combatBackground.jpg");
    color: white;
    border-radius: 1rem;
    width: 50vw;
    text-shadow: 2px 2px 2px #000;
    font-weight: bold;
    font-size: 1.3rem;
}

.dialogue-character-img {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    object-position: center;
}

@keyframes dialogueModalSlideIn {
    0% {
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.dialogue-modal-slide-in {
    animation: dialogueModalSlideIn 0.3s forwards;
}