.map {
    justify-content: center;
    justify-self: center;
    border-collapse: collapse;
    border: 0.5px solid black;
}

.map td,
.map tr {
    width: 45px;
    height: 45px;
    border: none;
}

.map-border {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/wall.jpg');
}

.images-base,
.map-0,
.map-1 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.map-2,
.map-3,
.map-4 {
    background-position: center;
}

.map-0 {
    background-image: url("../assets/maps/map1.png");
}

.map-1 {
    background-image: url("../assets/maps/map2.png");
}

.map-2 {
    background-image: url("../assets/maps/map3.png");
}

.map-3 {
    background-image: url("../assets/maps/map4.png");
    background-position: center;
}

.map-4 {
    background-image: url("../assets/maps/map5.png");
}

.door-opened-static {
    background-image: url("../assets/door4.png");
}

.door-opened {
    animation: openDoorAnim 0.75s ease-in-out forwards;
}

.door-closed {
    animation: closeDoorAnim 0.75s ease-in-out forwards;
}

@keyframes openDoorAnim {
    0% {
        background-image: url("../assets/door1.png");
    }

    35% {
        background-image: url("../assets/door2.png");
    }

    70% {
        background-image: url("../assets/door3.png");
    }

    100% {
        background-image: url("../assets/door4.png");
    }
}

@keyframes closeDoorAnim {
    0% {
        background-image: url("../assets/door4.png");
    }

    35% {
        background-image: url("../assets/door3.png");
    }

    70% {
        background-image: url("../assets/door2.png");
    }

    100% {
        background-image: url("../assets/door1.png");
    }
}

.ghost {
    background-image: url("../assets/ghost.png");
}

.chest-closed {
    background-image: url("../assets/chest1.png");
}

.chest-opened {
    background-image: url("../assets/chest2.png");
}

.key {
    background-image: url("../assets/key.png");
}