.map {
    justify-content: center;
    justify-self: center;
    border-collapse: collapse;
    border: 0.5px solid black;
}

.map td,
.map tr {
    width: 45px;
    height: 45px;
    border: none;
}

.map-border {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/wall.jpg');
}

.door-opened {
    background-image: url('../assets/doorOpened.png');
}

.door-closed {
    background-image: url('../assets/doorClosed.png');
}

.images-base,
.map-0,
.map-1 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.map-0 {
    background-image: url("../assets/maps/map1.png");
}

.map-1 {
    background-image: url("../assets/maps/map2.png");
}

.map-2 {
    background-image: url("../assets/maps/map3.png");
}

.map-3 {
    background-image: url("../assets/maps/map4.png");
}

.map-4 {
    background-image: url("../assets/maps/map5.png");
}