.images-base {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.map {
    justify-content: center;
    justify-self: center;
    border-collapse: collapse;
    background-image: url("../assets/floor1.png");
    border: 0.5px solid black;
}

.map td,
.map tr {
    width: 45px;
    height: 45px;
    border: none;
}

.map-border {
    background-image: url('../assets/wall.jpg');
}