:root {
  background-image: url("../src/assets/background.jpg");
  background-position: no-repeat;
  background-size: contain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}